# Python & Byte-code
__pycache__/
*.py[cod]
*$py.class
*.so

# Environnements virtuels
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# Jupyter Notebooks & Checkpoints
.ipynb_checkpoints/
*-checkpoint.ipynb

# Fichiers de données volumineux ou temporaires
*.csv
*.json
*.sqlite3
*.log

# Variables d'environnement / Clés API
.env